* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  /* color: #fff; */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  color: white;
  overflow-x: hidden;
}
body::selection {
  background-color: #000;
  color: #fff;
}

#main {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  background-image: url("https://picsum.photos/id/103/4704/3136");
  /* background-image: url("https://picsum.photos/id/103/4704/3136"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}

#nav i {
  font-size: 30px;
  cursor: pointer;
}

#full {
  color: #000;
  width: 40%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.699);
  top: 0;
  right: -40%;
  backdrop-filter: blue(30px);
  padding: 150px 60px;

}

#full h4 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 10px;
}

#full i {
  position: absolute;
  top: 5%;
  right: 0%;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  margin: 0 50px;
}

/* Use pixels (px) for breakpoints as they are more reliable than vw */
/* I don't need right :17% bc i used padding 50px it's kee it above menu hamburger icon no matter what */
/* @media screen and (max-width: 720px) {
 #full i{
    right: 17%;  
    
  }
} */