@import "tailwindcss";
body {
  background-color: #111;
  color: whitesmoke;
}

.box {
  width: 200px;
  height: 200px;
  background-color: crimson;
  border: 2px solid snow
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: honeydew;
  border: 2px solid snow
}
